In [1]:
import pandas as pd
from TicmiAPI import *

In [3]:
api = TICMIDataAPI(api_key='XXXXXXXX')
startDate = "2024-06-01"
endDate = "2024-06-28"
stock = "BBCA"

In [4]:
# Trading data for a specific stock
data = api.trading(startDate, endDate, stock)
pd.DataFrame(data['data'])

,Date,Open,High,Low,Close,Volume,Value,Frequency,ChangePercent
0,2024-06-28,9800,9975,9775,9925,166172300,1646454295000,25070,1.794872
1,2024-06-27,9575,9750,9550,9750,89150700,863009895000,21566,2.631579
2,2024-06-26,9525,9650,9450,9500,77913200,741677042500,14124,-1.041667
3,2024-06-25,9600,9600,9450,9600,80029000,765143162500,14626,0.000000
4,2024-06-24,9600,9750,9575,9600,79592300,768363037500,18614,0.000000
5,2024-06-21,9475,9675,9400,9600,167756000,1607541575000,23322,1.856764
6,2024-06-20,9150,9425,9100,9425,81474800,759584140000,17957,4.143646
7,2024-06-19,9250,9250,9050,9050,100051000,914391255000,26534,-1.630435
8,2024-06-14,9200,9250,9100,9200,52986300,486466150000,16444,0.000000
9,2024-06-13,9475,9475,9200,9200,84652200,785710585000,26333,-0.540541
10,2024-06-12,9300,9325,9250,9250,49785700,461734975000,14267,-0.537634
11,2024-06-11,9550,9550,9300,9300,68690900,643391100000,19611,-2.362205
12,2024-06-10,9500,9525,9450,9525,45584700,432782792500,15273,2.144772
13,2024-06-07,9500,9500,9325,9325,51599800,483877250000,14880,-1.583113
14,2024-06-06,9525,9525,9450,9475,44991300,427010560000,16226,0.264550
15,2024-06-05,9500,9500,9300,9450,85710000,809566762500,21697,1.069519
16,2024-06-04,9525,9525,9350,9350,75353100,711191547500,17627,0.808625
17,2024-06-03,9350,9350,9225,9275,72197700,670159027500,24450,0.270270

In [5]:
# Index weight data
data = api.index_weight(startDate, endDate, indexCode="LQ45")
pd.DataFrame(data['data']).sort_values(['Date', 'SecCode']).reset_index(drop=True)

           Date SecCode  SharesForIndex        MarketCap    Weight
0    2024-06-03    ACES      6832560000    5466048000000  0.301439
1    2024-06-03    ADRO     12877548301   37731216521930  2.080780
2    2024-06-03    AKRA      7106010008   11405146062840  0.628965
3    2024-06-03    AMMN     12509392546  146672627601850  8.088621
4    2024-06-03    AMRT     18843818871   52762692838800  2.909728
..          ...     ...             ...              ...       ...
805  2024-06-28    SRTG      1406673390    2018576314650  0.111365
806  2024-06-28    TLKM     47361645756  148241951216280  8.178507
807  2024-06-28    TOWR     21415939575   15740715587625  0.868415
808  2024-06-28    UNTR      1410364095   30992750987625  1.709870
809  2024-06-28    UNVR      5524120000   16682842400000  0.920392

[810 rows x 5 columns]

In [6]:
# Index data
data = api.index(startDate, endDate, indexCode="LQ45")
pd.DataFrame(data['data']).sort_values('Date').reset_index(drop=True)

,Date,Previous,High,Low,Close,Volume,Value,Frequency,ChangePercent
0,2024-06-03,871.422,891.497,876.084,888.281,6005647479,7459205319961,397983,1.934654
1,2024-06-04,888.281,905.006,893.652,895.799,6863022733,8800801783873,438919,0.846354
2,2024-06-05,895.799,900.242,879.626,881.701,5757094410,7250230094075,457865,-1.573791
3,2024-06-06,881.701,896.908,884.969,892.103,5723711391,5802104004411,340656,1.179765
4,2024-06-07,892.103,895.401,882.936,883.927,4120921051,5850699470236,323565,-0.916486
5,2024-06-10,883.927,887.248,879.569,884.841,14781263162,5741648587350,386347,0.103402
6,2024-06-11,884.841,882.623,867.776,867.776,8057463876,6369401671116,362022,-1.928595
7,2024-06-12,867.776,869.906,861.046,862.864,7629222225,5746368656740,306757,-0.566045
8,2024-06-13,862.864,872.291,858.389,858.625,8119678155,6584163010193,279287,-0.491271
9,2024-06-14,858.625,860.473,842.114,845.504,7015273818,7120932838750,360779,-1.528141
10,2024-06-19,845.504,852.039,838.170,839.616,11744888260,7583227231349,403461,-0.696389
11,2024-06-20,839.616,854.779,841.316,854.779,5638513475,5889102471430,268571,1.805945
12,2024-06-21,854.779,875.274,857.209,867.199,11699264916,14189803804689,381686,1.453007
13,2024-06-24,867.199,871.299,864.002,864.402,5567406802,5880795193306,295417,-0.322533
14,2024-06-25,864.402,862.887,853.736,861.668,14920948744,24269345993107,248315,-0.316288
15,2024-06-26,861.668,870.193,861.468,863.287,4044814424,7049884131933,245689,0.187891
16,2024-06-27,863.287,875.842,865.116,874.394,17044608142,12704730035649,238115,1.286594
17,2024-06-28,874.394,893.076,878.821,887.728,5722831089,15308804368357,308932,1.524942

In [11]:
# Request corporate action for a specific stock
data = api.corporate_action(startDate, endDate, stock, action_type='rups')
data

(401, 'Unauthorized\n')

In [12]:
# Request news for a specific stock
data = api.stock_news(startDate, endDate, stock)
data

(401, 'Unauthorized\n')

In [16]:
# # Request financial report for a specific stock
# data = api.financial_report(stock, year="2014", quarter="1", report_type="financial_ratios")
# data

In [19]:
# # Request market information for a specific stock
# data = api.market_information(stock, year="2014", quarter="1")
# data

In [21]:
# Request static data for a specific stock
static_data = api.static_data(stock)
static_data

{'board_of_commissioners': (401, 'Unauthorized\n'),
 'board_of_directors': (401, 'Unauthorized\n'),
 'company_profile': (401, 'Unauthorized\n'),
 'company_address': (401, 'Unauthorized\n'),
 'holding_composition': (401, 'Unauthorized\n'),
 'share_holders': (401, 'Unauthorized\n')}